:root {
    /*------------
        COLORS
    ------------*/
    --primary-color: ;
    --secondary-color: ;
    --primary-color-text: ;
    --secondary-color-text: ;

    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 80rem;
}