:root {
    /*------------
        COLORS
    ------------*/
    --primary-color: 00, 00, 00;
    --primary-color-text: #fff;

    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 80rem;
}